<!doctype html>
<html>
<style>
    form {
        margin: auto;
        width: 35%;
    }

    .result {
        margin: auto;
        width: 35%;
        border: 1px solid #ccc;
    }
</style>

<head>
    <title>Rating Predictor</title>
</head>

<h1>Rating Predictor</h1>

<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
        <legend>Input values:</legend>
        Enter a review to get a predicted rating on a scale of 0 to 10:
        <input name="review" type="text" required>
        <br>
        <br>
        <input type="submit">
    </fieldset>
</form>
<br>
<div class="result" align="center">
    {% if result %}
    {% for variable, value in original_input.items() %}
    <b>{{ variable }}</b> : {{ value }}
    {% endfor %}
    <br>
    <br> Predicted rating :
    <p style="font-size:50px">{{ result }}</p>
    <br> Class probabilities (from 0 to 10) :
    <p>{{ probabilities }}</p>
    {% endif %}
</div>

</html>